@tailwind base;
@tailwind components;
@tailwind utilities;

*#root {
  font-family: "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*:root {
  /* MAIN COLORS */
  --mbg-blue: #075cf8;
  --mbg-green: #00821a;
  --mbg-red: #b70d0d;
  --mbg-gold: #a57a02;
  --mbg-black: #000000;
  --mbg-white: #ffffff;
  --mbg-white-details: #f7f7f7;
  --mbg-white-details-green: #86cf9e;
  --mbg-white-details-red: #ec8989;
  --mbg-white-details-gold: #e4dc88;
  --mbg-darkgrey: #404040;
  --mbg-lightgrey: #bfbfbf;

  /* BACK COLORS */
  --mbg-rgbadark: rgba(0, 0, 0, 0.308);
  --mbg-rgbalight: rgba(0, 0, 0, 0.06);
  --mbg-bx-shadow2: -3px 2px 4px var(--mbg-rgbadark);

  /* SOCIAL MEDIA COLORS */
  --mbg-youtube: #9e1c1c;
  --mbg-instagram1: #7f2e8f;
  --mbg-instagram2: #c0b01e;

}
*::selection {
  background: var(--mbg-green);
  color: var(--mbg-black);
}
/* BUTTON STYLES */
.z-104 {
  z-index: 104 !important;
}
/* BUTTON STYLES */
.mbg-main-btn {
  background: linear-gradient(to right, var(--mbg-white) 50%, var(--mbg-black) 50%);
  background-size: 210% 100%;
  background-position: right;
  color: var(--mbg-lightgrey) !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  padding: 10px 40px !important;
  border-radius: .46rem !important;
  transition: all .3s ease-in-out !important;
  border: none !important;
}
.mbg-main-btn:hover {
  background-position: left;
  color: var(--mbg-black) !important;
  box-shadow: var(--mbg-bx-shadow2) !important;
  border: none !important;
}
.mbg-main-btn:active {
  background: var(--mbg-green) !important;
  color: var(--mbg-white) !important;
  transform: scale(.9) !important;
}
.mbg-main-btn:disabled {
  background: var(--mbg-rgbalight) !important;
  color: var(--mbg-lightgrey)
}

.mbg-special-btn {
  background: linear-gradient(to right, var(--mbg-white) 50%, var(--mbg-black) 50%);
  background-size: 210% 100%;
  background-position: right;
  color: var(--mbg-lightgrey) !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px !important;
  width: 100% !important;
  border-radius: .46rem !important;
  transition: all .3s ease-in-out !important;
  border: none !important;
}
.mbg-special-btn:hover {
  background-position: left;
  color: var(--mbg-black) !important;
  box-shadow: var(--mbg-bx-shadow2) !important;
  border: none !important;
}
.mbg-special-btn:active {
  background: var(--mbg-green) !important;
  color: var(--mbg-white) !important;
  transform: scale(.9) !important;
}
.mbg-special-btn:disabled {
  background: var(--mbg-rgbalight) !important;
  color: var(--mbg-lightgrey)
}
.mbg-back-btn {
  background: linear-gradient(to right, var(--mbg-white) 50%, var(--mbg-lightgrey) 50%);
  background-size: 210% 100%;
  background-position: right;
  color: var(--mbg-darkgrey) !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px !important;
  width: 100% !important;
  border-radius: .46rem !important;
  transition: all .3s ease-in-out !important;
  border: none !important;
}
.mbg-back-btn:hover {
  background-position: left;
  color: var(--mbg-black) !important;
  box-shadow: var(--mbg-bx-shadow2) !important;
  border: none !important;
}
.mbg-back-btn:active {
  background: var(--mbg-green) !important;
  color: var(--mbg-white) !important;
  transform: scale(.9) !important;
}
.mbg-back-btn:disabled {
  background: var(--mbg-rgbalight) !important;
  color: var(--mbg-lightgrey)
}

.mbg-signup-btn {
  background: linear-gradient(to right, var(--mbg-white) 50%, var(--mbg-lightgrey) 50%);
  background-size: 210% 100%;
  background-position: right;
  color: var(--mbg-black) !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  width: 180px !important;
  border-radius: .46rem !important;
  transition: all .3s ease-in-out !important;
  border: none !important;
}
.mbg-signup-btn:hover {
  background-position: left;
  color: var(--mbg-black) !important;
  box-shadow: var(--mbg-bx-shadow2) !important;
  border: none !important;
}
.mbg-signup-btn:active {
  background: var(--mbg-green) !important;
  color: var(--mbg-white) !important;
  transform: scale(.9) !important;
}
.mbg-signup-btn:disabled {
  background: var(--mbg-rgbalight) !important;
  color: var(--mbg-lightgrey) !important;
}
/* BUTTON STYLES */

/* FOOTER PART END*/

.txt-hvr1 {
  color: var(--mbg-darkgrey);
  transition: .3s ease;
}
.txt-hvr1:hover {
  transform: translateX(10px);
  color: var(--mbg-lightgrey);
}

  .social-media-ig {
    color: var(--mbg-black);
    background: var(--mbg-darkgrey);
    height: 26px;
    width: 26px;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-bottom: 7px;
    padding: 2px;
    transition: .5s ease-in-out;
  }
  .social-media-ig:hover {
    background: var(--mbg-instagram1);
  }
  .social-media-yt {
    color: var(--mbg-black);
    background: var(--mbg-darkgrey);
    height: 26px;
    width: 26px;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 2px;
    transition: .5s ease-in-out;
  }
  .social-media-yt:hover {
    background: var(--mbg-youtube);
  }
  
  
  /* IMAGES BOX SHADOW */
  
  .imgbxsh {
    box-shadow: var(--mbg-bx-shadow2);
  }
  
  /* PAYPAL BUTTON */

  
